This notebook will be used to create capstone projects on Data Science courses offered by Coursera. IBM Data Science Professional Certificate Capstone project is one of these which is created in this notebook.

In [2]:
import pandas as pd
import numpy as np

In [3]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [16]:
from bs4 import BeautifulSoup
import requests

new_list1 = []
new_list2= []
new_list3 = []
total_list = []
borough_list = []

r = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
soup = BeautifulSoup(r.text, 'html')
result = soup.find_all('tbody')
result = result[0]


for rows in result.find_all('tr'): 
    #print(rows)
    row = [cell.text for cell in rows.find_all('td')]
    total_list.append(row)

for i in range(len(total_list)):
    if len(total_list[i]) != 0:
        element = total_list[i]
        new_list1.append(element[0])
        new_list2.append(element[1])
        new_list3.append(element[2])

for i in range(len(new_list2)):       # deleting the list elements that has 'Not assigned' value
    if new_list2[i] != 'Not assigned\n':
        borough_list.append(new_list2[i])

df = pd.DataFrame(zip(new_list1,borough_list,new_list3), columns=["Postal Code","Borough","Neighborhood"])
#creating a dataframe from the zipped lists with three columns

df = df.replace('\n','',regex=True) # replaces the \n present in the column.
df = df.replace('/',',',regex=True) # replaces / by , in column=Neighborhood

for i in range(len(df)):
    if df.loc[i,"Neighborhood"] == '':  #using indexing
        df.loc[i,"Neighborhood"] = df.loc[i,"Borough"] # if Neighborhood is unassigned it gets the value of Borough
        
df

,Postal Code,Borough,Neighborhood
0,M1A,North York,North York
1,M2A,North York,North York
2,M3A,Downtown Toronto,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
98,M9N,Etobicoke,Weston
99,M1P,Downtown Toronto,"Dorset Park, Wexford Heights, Scarborough Town..."
100,M2P,East Toronto,York Mills West
101,M3P,Etobicoke,Etobicoke
102,M4P,Etobicoke,Davisville North

In [17]:
print(df.shape)

(103, 3)

In [18]:
df.to_csv('/Users/gobinrana/Desktop/Neighborhood_data_canada_toronto.csv')