In [78]:
import pandas as pd
import csv

In [80]:
url = 'https://cocl.us/Geospatial_data' # passing url of the geospatial data
geo_data= pd.read_csv(url,'r')          # read csv into the dataframe 

# splitting the single column of geo_data dataframe
for col in geo_data.columns: 
    geo_data = geo_data[col].str.split(',',expand=True) 

# renaming the newly formed columns
df_geo_data.rename(columns={0: "Postal Code", 1: "Latitude", 2: "Longitude"}) 
df_geo_data

    Postal Code    Latitdue    Longitude
0           M1B  43.8066863  -79.1943534
1           M1C  43.7845351  -79.1604971
2           M1E  43.7635726  -79.1887115
3           M1G  43.7709921  -79.2169174
4           M1H   43.773136  -79.2394761
..          ...         ...          ...
98          M9N   43.706876  -79.5181884
99          M9P   43.696319  -79.5322424
100         M9R  43.6889054  -79.5547244
101         M9V  43.7394164  -79.5884369
102         M9W  43.7067483  -79.5940544

[103 rows x 3 columns]

In [91]:
# accessing neighborhood data and zipping it with geo_spatial data into a single dataframe

neighborhood_data = pd.read_csv('/Users/gobinrana/Desktop/Neighborhood_data_canada_toronto.csv')
neighborhood_data
combined_data = pd.merge(neighborhood_data, df_geo_data, how = "outer", on = 'Postal Code')
combined_data.dropna().reset_index(drop=True)

,Postal Code,Borough,Neighborhood,Latitdue,Longitude
0,M3A,Downtown Toronto,Parkwoods,43.7532586,-79.3296565
1,M4A,North York,Victoria Village,43.7258823,-79.3155716
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.6542599,-79.3606359
3,M6A,Etobicoke,"Lawrence Manor, Lawrence Heights",43.718518,-79.4647633
4,M7A,Scarborough,"Queen's Park, Ontario Provincial Government",43.6623015,-79.3894938
...,...,...,...,...,...
63,M6N,Scarborough,"Runnymede, The Junction North",43.6731853,-79.4872619
64,M9N,Etobicoke,Weston,43.706876,-79.5181884
65,M1P,Downtown Toronto,"Dorset Park, Wexford Heights, Scarborough Town...",43.7574096,-79.273304
66,M2P,East Toronto,York Mills West,43.7527583,-79.4000493
67,M4P,Etobicoke,Davisville North,43.7127511,-79.3901975